@font-face {
  font-family: 'Geist';
  font-weight: 400;
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 600;
  src: url('../fonts/Geist-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 700;
  src: url('../fonts/Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 400;
  src: url('../fonts/GeistMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Myanmar';
  font-weight: 700;
  src: url('../fonts/NotoSansMyanmar-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-weight: 700;
  src: url('../fonts/NotoSansThai-Bold.ttf') format('truetype');
}
